body {

}

body a {
	color: #4A4A4A;
}

#container {
	width:900px;
	height: 200%;
	margin: 0 auto;
	margin-top: 150px;
	padding: 20px;
	position: relative;
	border: 1px solid #CFCFCF;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #B5B5B5;
}


nav {
	height: 100px;
	width: 100%;
	position: absolute;
	top: 0;
}

#login {
	position: absolute;
	right: 0;
}
.bet_tags {

}