<%= @error if @error %> <br>

  <form name="new_bet" id="new_bet" action="/bet/create" method="post">
    title:   <input name="bet[title]" type="text" placeholder="ex. World Cup"><br>
    amount: <input name="bet[total]" type="text" placeholder="ex. 2.00"><br>
    expiration: <input name="bet[expiration]" type="text" placeholder="2nd Jul 2014 03:30:00 PM"><br>
    <textarea name="bet[content]" cols="30" rows="10" placeholder="enter bet description and notes"></textarea> <br>
    tags: <input name="tags" type="text" placeholder="tags, like, this"><br>
    <button type="submit">much win</button>
  </form>
