<form method="post" action="/sign_up">
    <input type="text" name="user[username]" placeholder="Username">
    <span id="name-errors" class="errors"></span>
    <br>

    <input type="email" name="user[email]" placeholder="email">
    <span id="email-errors" class="errors"></span>
    <br>

    <input type="password" name="user[password]" placeholder="password">
    <span id="entered_password-errors" class="errors"></span>
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
</form>
