<form id="sign-in" method="post" action="/sign_in">
  <input type="username" name="username" placeholder="username"><br>
  <input type="password" name="password" placeholder="password">
  <br>
  <div class="submit"><input type="submit" value="Sign In"></div>
</form><br><br>
