<div id="login">
<form id="sign-in" method="post" action="/sign_in">
    <input type="username" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password">
    <br>
    <center>
    <div class="submit"><input type="submit" value="Sign In"></div>
    </center>
  </form><br><br>
</div>