<form id="signin" method="post" action="/sign_in">

    <input type="text" name="user[username]" placeholder="Username">
    <span id="name-errors" class="errors"></span>
    <br>

    <input type="password" name="user[password]" placeholder="password">
    <span id="entered_password-errors" class="errors"></span>
    <br>

    <div class="submit"><input type="submit" value="Sign in"></div>
</form>
Or, <a href="/sign_up">sign up</a> as a new user.